*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-botones {
  margin-top: 25px;
}

.cond-bien {
  background-color: #2a4;
  padding-inline: 5px;
}

.cond-mal {
  background-color: #e44;
  padding-inline: 5px;
}

.txt {
  width: max-content;
  margin: 0;
}

.container-input {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-numerador {
  display: flex;
  align-items: center;
}

.linea-divisora {
  width: 110%;
  height: 1px;
  background-color: #777;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-denominador {
  display: flex;
}

.input {
  min-width: 5ch;
  width: 5ch;
}

.container-resistencias {
  display: flex;
  flex-direction: column;
}

.pid-final {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
